{
	"verifyConditions": [
		"semantic-release-vsce",
		"@semantic-release/github"
	],
	"prepare": {
		"path": "semantic-release-vsce",
		"packageVsix": "npm-bumper-${nextRelease.gitTag}.vsix"
	},
	"publish": [
		"semantic-release-vsce",
		{
			"path": "@semantic-release/github",
			"assets": "npm-bumper-${nextRelease.gitTag}.vsix"
		}
	],
	"plugins": [
		"@semantic-release/commit-analyzer",
		"@semantic-release/release-notes-generator",
		"@semantic-release/changelog",
		[
			"@semantic-release/npm",
			{
				"npmPublish": false
			}
		],
		[
			"@semantic-release/github",
			{
				"assets": [
					"npm-bumper-${nextRelease.gitTag}.vsix"
				]
			}
		],
		"@semantic-release/git"
	]
}
