{
	"plugins": [
		"@semantic-release/commit-analyzer",
		"@semantic-release/release-notes-generator",
		"@semantic-release/changelog",
		[
			"@semantic-release/npm",
			{
				"npmPublish": false
			}
		],
		"@semantic-release/github",
		"@semantic-release/git"
	],
	"verifyConditions": [
		"@semantic-release/github",
		"@semantic-release/git",
		"@semantic-release/changelog",
		"semantic-release-vsce"
	],
	"prepare": [
		"@semantic-release/npm",
		"@semantic-release/changelog",
		{
			"path": "@semantic-release/git",
			"assets": [
				"CHANGELOG.md",
				"package.json"
			]
		},
		{
			"path": "semantic-release-vsce",
			"packageVsix": "npm-bumper-${nextRelease.gitTag}.vsix"
		}
	],
	"publish": [
		"semantic-release-vsce",
		{
			"path": "@semantic-release/github",
			"assets": "npm-bumper-${nextRelease.gitTag}.vsix"
		}
	]
}
