{
	"plugins": [
		"@semantic-release/commit-analyzer",
		"@semantic-release/release-notes-generator",
		"@semantic-release/changelog",
		[
			"@semantic-release/npm",
			{
				"npmPublish": false
			}
		],
		[
			"@semantic-release/exec",
			{
				"prepareCmd": "yarn pack"
			}
		],
		[
			"@semantic-release/github",
			{
				"assets": [
					"release/npm-bumper-${nextRelease.gitTag}.vsix"
				]
			}
		],
		"@semantic-release/git"
	]
}
