.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.yml
**/.eslintrc
**/.eslintignore
**/.prettierrc
**/.azure-pipelines.yml
**/*.lock
.circleci/**
.github/**
.vscode
node_modules
out/
src/
tsconfig.json
webpack.config.js
webpack.config.ts
release/**
**/renovate.json